.editPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.editContainer {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    gap: 10px;
    padding: 0px 40px;
    box-shadow: 19px 5px 15px -5px #777777;
}

.editContainer h1 {
    margin: 0;
}

.editContainer input {
    width: 100%;
    height: 30px;
    outline: none;
    padding: 0px 4px;
}

.editContainer textarea {
    width: 100%;
    height: 120px;
    outline: none;
    padding: 7px;
}

.postButton {
    padding: 10px 0;
    background-color: rgb(95, 114, 239);
    border: none;
    box-shadow: 19px 5px 15px -5px #777777;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

}

.postButton:hover {
    transform: translateY(5px);
    box-shadow: none;
}